{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'History/css/style.css' %}">
<table id="customers">
    <tr>
        <th>Đề</th>
        <th>Thời gian</th>
        <th>Thời gian nộp</th>
        <th>Điểm</th>
    </tr>
    {% for history in historys %}
    <tr>
        <td><a href="{% url 'history:show_history' history.id %}">{{ history.id_exam.name }}</a></td>
        <td><a href="{% url 'history:show_history' history.id %}">{{ history.time_do }} phút</a></td>
        <td><a href="{% url 'history:show_history' history.id %}">{{ history.date }}</a></td>
        <td><a href="{% url 'history:show_history' history.id %}">{{ history.correct }}/{{ history.amount }}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}