{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'Exams/css/list_exams.css' %}">
<div>
    <div class="find">
        <div>
            <span>Sắp xếp theo: </span>
            <select name="filters" id="filters">
                <option value="Phổ biến">Phổ biến</option>
                <option value="Mới">Mới</option>
            </select>
        </div>
        <div class="search">
            <input type="text" name="search" id="searchbar" value="Tìm kiếm">
        </div>
    </div>
    <div class="wrapper-se">
        {% for question in questions %}
        <div class="content-se">
            <div class="card-se">
                <div><h2>{{ question.name }}</h2></div>
                <div class="row-2">
                    <div><img src="{% static 'Exams/image/view.png' %}" width="30px" alt="Lượt xem"
                              title="Lượt xem"><span> {{ question.amount_view_user }}</span></div>
                    <div><img src="{% static 'Exams/image/writing.png' %}" width="30px" alt="Lượt làm" title="Lượt làm"><span> {{ question.amount_do }}</span>
                    </div>
                    <div><img src="{% static 'Exams/image/clock.png' %}" width="30px" alt="Thời gian" title="Thời gian"><span>.  {{ question.time }} phút</span>
                    </div>
                </div>
                <div>
                    <form action="{% url 'exam:do-exam' question.slug %}" method="get">
                        {% csrf_token %}
                        <input type="hidden" name="check" value="{{ forloop.counter }}-{{ question.id }}">
                        <button type="submit">Thi ngay</button>
                    </form>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endblock %}