{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'Exams/css/manage.css' %}">
<div class="wrapper">
    <div>
        <div>Đề đã làm: </div>
        <table class="customers">
            <tr>
                <th>Đề</th>
            </tr>
            {% for exam in exams_do %}
            <tr>
                <td><a href="{% url 'history:show_history' exam.id %}">{{ exam.id_exam.name }}</a></td>

            </tr>
            {% endfor %}
        </table>

    </div>
    <div>
        <div>Đề đã tạo: </div>
        <table class="customers">
            <tr>
                <th>Đề</th>
            </tr>
            {% for exam in exams_create %}
            <tr>
                <td>{{ exam.name }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}