{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'Exams/css/do_exam.css' %}">
<script src="{% static 'Exams/javascript/do_exam.js' %}"></script>
<div style="color:red; font-size:1.2rem; margin: 20px 0;">Kết quả: {{ score }}\{{ number }}</div>
<div class="wrapper-exam">

    <div class="show-exam">
        <div class="questions">
            {% for question in questions %}
            <div class="question">
                <div class="title-qs">
                    <span>{{ forloop.counter }}. </span>{{ question.question }}
                    <div>
                        {% if question.link_media %}
                        <img src="{{ MEDIA_URL }}{{ question.link_media }}" width="50%">
                        {% endif %}
                    </div>
                </div>

                {% with my_var=forloop.counter %}
                {% for answer in question.answers %}
                {% if answer.label == question.correct_answer and answer.label == question.correct %}
                <div style="color:green;">
                    <span>{{ answer.label }}: </span>
                    <input type="radio" id="{{ my_var }}" name="{{ question.id }}"
                           value="{{ answer.label }}" checked disabled>
                    <label for="{{ my_var }}">{{ answer.content }}</label><br>
                </div>
                {% elif answer.label == question.correct %}
                <div style="color:red;">
                    <span>{{ answer.label }}: </span>
                    <input type="radio" id="{{ my_var }}" name="{{ question.id }}"
                           value="{{ answer.label }}" checked disabled>
                    <label for="{{ my_var }}">{{ answer.content }}</label><br>
                </div>
                {% elif answer.label == question.correct_answer %}
                <div style="color:green;">
                    <span>{{ answer.label }}: </span>
                    <input type="radio" id="{{ my_var }}" name="{{ question.id }}"
                           value="{{ answer.label }}" checked disabled>
                    <label for="{{ my_var }}">{{ answer.content }}</label><br>
                </div>
                {% else %}
                <div>
                    <span>{{ answer.label }}: </span>
                    <input type="radio" id="{{ my_var }}" name="{{ question.id }}"
                           value="{{ answer.label }}" disabled>
                    <label for="{{ my_var }}">{{ answer.content }}</label><br>
                </div>
                {% endif %}

                {% endfor %}
                {% endwith %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}